.outer {
    margin: 2% 0 2% 0;
    width: 48%;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 7px;
    box-shadow: 5px 5px 20px 5px rgb(58, 59, 58);;
}

@media screen and (max-width: 445px) 
{
    .outer {
        width: 100%;
    }
}