.form_container_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_container_inner {
    width: 30%;
}

input {
    padding: 1%;
    margin: 1%;
}

.form-help {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: right;
    height: fit-content;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
    .form_container_inner {
        width: 50%;
    }
}

.logout {
    width: 15%;
    padding: 1%;
}

@media screen and (max-width: 660px) {
    .form_container_inner {
        width: 90%;
    }
    .logout {
        width: 40%;
    }
}

span {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

button {
    width: 25%;
    height: fit-content;
}

input {
    min-width: 150px;
}

.home_page {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}