body {
    background-color: rgb(80, 82, 80);
    border-radius: 10px;
    padding: 2%;
    box-shadow: 1px 1px 20px 5px rgb(80, 82, 80);
    height: 100%;
}

.inner-box {
    flex: auto;
    width: auto;
    margin: 1% 0 0 2%;
}

.num {
    color: #0fb533d0;
}

.box-title {
    border-bottom: 1px solid #606266;
}

.outer {
    display: flex;
    margin: 2% 0 2% 0;
    width: 48%;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 7px;
    box-shadow: 5px 5px 20px 5px rgb(58, 59, 58);;
}

@media screen and (max-width: 700px) 
{
    .outer {
        width: 100%;
    }
}