:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 1.5%;
  color-scheme: light dark;
  color: rgba(212, 212, 212, 0.902);
  background-color: #3bcb2b78;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h3 {
  color: #989898;
  margin: 1%;
  font-weight: 350;
  font-size: 175%
}

h4 {
  border-bottom: 1px solid rgb(67, 67, 67);
  margin: 1% 5% 1% 1%;
  color: #989898;
}

@media screen and (max-width: 1400px) {
  h3 {
      font-size: 22px;
  }
  h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  h4 {
    margin-right: 20%;
  }
}

h2 {
  font-weight: 350;
  font-size: max(200%, 10px);
}

a {
  font-weight: 500;
  color: #989898;
  text-decoration: inherit;
}
a:hover {
  color: #32c939;
}

body {
  margin: 0;
  display: flex;
  min-width: auto;
  min-height: 86vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  width: 100%;
  background-color: #4f4f4f82;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 40px 1px #32323282;
  color: #b6b6b6;
}

input:focus {
  outline: none;
  border: 2px solid #32c93a6a;
}

button {
  background-color: #545454;
  color: #cbcbcb;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1%;
}

button:hover {
  border: 1px solid #2bb532c6;
  background-color: #5b5a5a;
}

button:active {
  scale: 1.02;
  background-color: #5f5e5e;
}

html {
  height: fit-content;
}

@media screen and (max-width: 1600px) {
  html {
    height: fit-content;
  }
  body {
    min-height: 88vh;
  }
}

@media screen and (max-width: 1100px) {
  html {
    height: fit-content;
  }
  body {
    min-height: 92vh;
  }
}

@media (max-width: 500px) {
  a {
      display: block;
  }
}

ul > a {
  padding-left: 3%;
  padding-right: 15%;
  border-left: 1px solid black;
}

div > a {
  width: 100%;
}