:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 3%;
  color-scheme: light dark;
  color: rgba(212, 212, 212, 0.902);
  background-color: #38ba2aa5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-weight: 350;
  font-size: max(200%, 5px);
}

a {
  font-weight: 500;
  color: #989898;
  text-decoration: inherit;
}
a:hover {
  color: #32c939;
}

body {
  margin: 0;
  display: flex;
  min-width: auto;
  min-height: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}